<section class="container__navigation_game">

    <div class="navigation_game">

        <div class="nav__card card-border">
            <div class="card">
                <div class="card__title">
                    <p>СКАЧАЙ И УСТАНОВИ LESTA GAMES Launcher</p>
                </div>

                <div class="card__step">
                    <p>1</p>
                </div>

                <div class="card__text">
                    <p>Lorem ipsum dolor sit amet consectetur. Curabitur rhoncus pretium neque tempor ipsum amet faucibus.</p>
                </div>
            </div>
        </div>

        <div class="nav__card card-border">
            <div class="card">
                <div class="card__title">
                    <p>СОЗДАЙ АККАУНТ</p>
                </div>

                <div class="card__step">
                    <p>2</p>
                </div>

                <div class="card__text">
                    <p>Lorem ipsum dolor sit amet consectetur. Curabitur rhoncus pretium neque tempor ipsum amet faucibus.</p>
                </div>
            </div>
        </div>

        <div class="nav__card card-border">
            <div class="card">
                <div class="card__title">
                    <p>И ОТПРАВЛЯЙСЯ В БОЙ!</p>
                </div>

                <div class="card__step">
                    <p>3</p>
                </div>

                <div class="card__text">
                    <p>Lorem ipsum dolor sit amet consectetur. Curabitur rhoncus pretium neque tempor ipsum amet faucibus.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="footer__game">
        <p>© 2009-2023 Lesta Games. All rights reserved. 12+</p>
    </div>

</section>
